#contact_form{
	width:270px;
	text-align:left;
	margin-left:73%;
	background-color:#ffffff;
	padding:15px;
	color:#000000;
	border-radius:8px;
}
#contact_form ul{
	list-style-type:none;
	margin-left:-45px;
}
#contact_form textarea{
	max-height:75px;
	max-width:200px;
}
#contact_form input[type=text]{
	padding:3px;
	border-radius:10px;
	width:200px;
}
input{
	background-color:#d0d0d0;
}
input:focus{
	background-color:#ffffff;
}
textarea{
	background-color:#d0d0d0;
}
textarea:focus{
	background-color:#ffffff;
}
#contact_form h2{
	color:#000000;
	text-align:center;
	background-color:#d0d0d0;
	padding:10px;
	width:250px;
}
#form_submission{
	text-align:center;
}
#wrap_left{
	float:left;
	width:600px;
}
#wrap_left p{
	background-color:#ffffff;
	padding:9px;
	border-top-right-radius:35px;
	border-bottom-right-radius:35px;
	color:#000000;
	position:relative;
	margin-top:-5%;
	margin-left:30%;
}
#wrap_left img{
	border:6px solid #ffffff;
}

